* {
    /* debug to see divs */
    /* outline: 1px solid red; */
}

html {
    /* bigger font */
    font-size: 2vw;
}

body {
    /* no body margin */
    margin: 0;
}

body > * {
    /* global font */
    font-family: sans-serif;
}

/* NAVBAR */
nav {
    /* wrap the nav menu */
    display: flex;
    flex-wrap: wrap;

    /* push burger */
    justify-content: space-between;
}

#nav-menu {
    /* take all nav width */
    flex-basis: 100%;

    /* hide */
    display: none;
}

#nav-menu.show {
    /* js toggle */
    display: block;
}

#nav-menu > a {
    /* center align span */
    display: flex;
    align-items: center;
    justify-content: center;

    /* take all nav menu width */
    flex: 1;

    /* fatter */
    height: 4rem;
}

nav a {
    /* remove old look */
    color: #223;
    text-decoration: none;
}

.logo {
    /* center align span */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 8rem width */
    flex: 1;
    max-width: 8rem;

    /* fatter */
    height: 4rem;

    /* big font */
    font-size: 2rem;
}

.icon {
    /* pointer */
    cursor: pointer;

    /* center align svg */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 4rem width */
    flex: 1;
    max-width: 4rem;
}

.icon:hover {
    background-color: #eef;
}

.icon.dark:hover {
    background-color: #334;
}

#nav-menu > a:hover {
    background-color: #eef;
}

/* HERO */
#hero {
    background-color: #223;
    
    /* center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 8rem 1rem;
}

#hero > * {
    /* white text */
    color: #fff;
}

#hero > h1 {
    /* big font */
    font-size: 6rem;

    /* push down */
    margin: 0 0 .5rem 0;
}

#hero > p {
    /* big font */
    font-size: 2rem;

    /* push down */
    margin: 0 0 4rem 0;
}

#hero > a {
    text-decoration: none;

    /* big font */
    font-size: 1.5rem;

    /* button look */
    padding: 1rem 2rem;
    border: 1px solid #fff;
}

#hero > a:hover {
    color: #223;
    background-color: #fff;
}

/* ARTICLE */
article {
    /* space */
    padding: 4rem 1rem;

    color: #223;
}

article > h2 {
    /* big font */
    font-size: 2rem;

    /* push down */
    margin: 0 0 1rem 0;
}

.text-con > p {
    /* big font */
    font-size: 1.5rem;

    /* taller */
    line-height: 1.5;

    /* push down */
    margin: 0 0 1rem 0;
}

.text-con > p:last-child {
    /* last p don't push down */
    margin: 0;
}

section.dark {
    background-color: #eef;
}

.text-img-con {
    /* holds text-con and img */
    display: grid;
    gap: 2rem;

    /* mobile img height = 50% screen wide */
    grid-template: auto 50vw / 1fr;
}

.text-img-con > img {
    /* remove all set */
    width: 0;
    height: 0;

    /* follow grid cell size */
    min-height: 100%;
    min-width: 100%;

    /* clip */
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: #223;
    display: flex;
}

footer > a {
    /* remove old look */
    color: #fff;
    text-decoration: none;
}
