html {
    font-size: 2vw;
}

* {
    /* debug to see divs */
    /* outline: 1px solid red; */
}

body {
    /* stay in middle */
    max-width: 80rem;
    margin: 0 auto;
}

body > * {
    /* global font */
    font-family: sans-serif;
}

/* NAVBAR MOBILE */
nav {
    /* wrap the nav menu */
    display: flex;
    flex-wrap: wrap;

    /* push burger */
    justify-content: space-between;
}

#nav-menu {
    /* take full nav width */
    flex-basis: 100%;

    /* hide */
    display: none;
}

#nav-menu.show {
    /* js toggle */
    display: block;
}

#nav-menu > a {
    /* center align span */
    display: flex;
    align-items: center;
    justify-content: center;

    /* space */
    flex-grow: 1;
    min-height: 4rem;
}

nav a {
    /* remove old look */
    color: #223;
    text-decoration: none;
}

.logo {
    /* center align span */
    display: flex;
    align-items: center;
    justify-content: center;

    /* space */
    flex: 1;
    max-width: 7rem;
    min-height: 4rem;
}

.logo > span {
    /* logo font */
    font-size: 2rem;
}

.icon {
    /* pointer */
    cursor: pointer;

    /* center align svg */
    display: flex;
    align-items: center;
    justify-content: center;

    /* space */
    flex-grow: 1;
    max-width: 4rem;
}

.icon:hover {
    background-color: #eef;
}

.icon.dark:hover {
    background-color: #334;
}

#nav-menu > a:hover {
    background-color: #eef;
}

/* HERO */
#hero {
    text-align: center;
    background-color: #223;

    padding: 7rem 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero > * {
    /* white text */
    color: #fff;
}

#hero > h1 {
    /* big font */
    font-size: 6rem;

    /* push down */
    margin: 0 0 .5rem 0;
}

#hero > p {
    /* big font */
    font-size: 2rem;

    /* push down */
    margin: 0 0 4rem 0;
}

#hero > a {
    text-decoration: none;

    /* big font */
    font-size: 1.5rem;

    /* button look */
    padding: 1rem;
    border: 1px solid #fff;
}

#hero > a:hover {
    color: #223;
    background-color: #fff;
}

article {
    /* space */
    padding: 4rem 1rem;

    color: #223;
}

article h2 {
    /* big font */
    font-size: 2rem;

    /* push down */
    margin: 0 0 1rem 0;
}

article p {
    /* big font */
    font-size: 1.5rem;

    /* taller */
    line-height: 1.5;

    /* push down */
    margin: 0 0 1rem 0;
}

section.dark {
    background-color: #eef;
}

.text-img-con {
    /* holds span and img */
    display: grid;
    gap: 2rem;

    /* mobile img height = 50% screen wide */
    grid-template: auto 50vw / 1fr;
}

.text-con > p:last-child {
    /* last p don't push down */
    margin: 0;
}

.text-img-con > img {
    /* remove all set */
    width: 0;
    height: 0;

    /* follow grid cell size */
    min-height: 100%;
    min-width: 100%;

    /* clip outside */
    object-fit: cover;
}

footer {
    background-color: #223;
    display: flex;
}

footer a {
    /* remove old look */
    color: #fff;
    text-decoration: none;
}
