@media (min-width: 36rem){
}
@media (min-width: 48rem){
}
@media (min-width: 62rem){
}
@media (min-width: 75rem){
    html {
        /* smaller font */
        font-size: 1vw;
    }

    /* NAVBAR */
    #burger {
        /* no burger in pc */
        display: none;
    }

    nav {
        /* don't wrap nav menu */
        flex-wrap: nowrap;
    }

    #nav-menu, #nav-menu.show {
        /* show nav menu */
        display: flex;

        /* take all nav width */
        flex: 1;
    }

    /* ARTICLE */
    .text-img-con {
        /* img is 50% text con width */
        grid-template: 1fr / 1fr 1fr;
    }
}
@media (min-width: 87.5rem){
}