@media (min-width: 36rem){
}
@media (min-width: 48rem){
}
@media (min-width: 62rem){
}
@media (min-width: 75rem){
/* navbar pc ================== */
    #burger {
        /* no burger in pc */
        display: none;
    }

    nav {
        /* don't wrap nav menu */
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    #nav-menu, #nav-menu.show {
        /* show nav menu */
        display: flex;
        flex-basis: auto;
    }

    #nav-menu > a {
        /* center align span */
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .text-img-con {
        /* img is .5% span's width in pc */
        grid-template: 1fr / 1fr .5fr;
    }
}
@media (min-width: 87.5rem){
}